.footer-info {
    background-color: #f4f5f9;
    padding-top: 0.5em;
}

.hlogo {
    margin-left: auto;
    color: #0052cc;
    cursor: pointer;
    font-size: xx-large;
    margin-right: 5px;
    vertical-align: middle;
}

.footer-text {
    bottom: 0;
    display: inline-flex;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #6d6d82;
}