<div class="container-fuid">
    <h3>COFFEE-MRR <span class="badge bg-info">2.0</span></h3>
    <table class="table table-success table-small table-hover table-striped-columns table-borderless table-padding">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Plan de recuperación</th>
                <th scope="col">Planificación y gestión</th>
                <th scope="col">Otros</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Componentes</td>
                <td>Proyectos</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Medidas</td>
                <td>Subproyectos</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td colspan="2">Medidas</td>
            </tr>
        </tbody>
    </table>
</div>